#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

body {
  background: #fff;
}

.logo {
  font-size: 28px;
  font-weight: bolder;
  background: linear-gradient(to right, #186048 10%, #30a878 50%, #90d890 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #186048;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #30a878;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #30a878;
}

.ant-tabs-ink-bar {
  background-color: #30a878;
}

.box-card {
  background: #f0f3f5;
}

.border-card {
  border: 1px solid #c8ced3;
}

.border-card-title {
  border-bottom: 1px solid #c8ced3;
}

.box-head {
  border-radius: 4px;
  border: 1px solid #c8ced3;
  background: #f4f4f4;
}

.container-fixed-footer {
  min-height: calc(100vh - 110px);
}

.otp-input-style {
  width: 60px !important;
  /* position: relative; */
  /* height: 82%; */
  height: 45px;
  border-radius: 5px;
  border: 0px;
  margin-left: 4px;
  margin-right: 4px;
  background: #dddddd;
  font-size: 20px;
}

.ant-layout {
  background-color: #fff;
}
/* .ant-table-thead > tr > th{
  padding-top: 0px;
} */